.about-us-container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
  }
  
  h2 {
    text-align: center;
  }
  
  p {
    line-height: 1.5;
  }
  
  p:not(:last-child) {
    margin-bottom: 15px;
  }
  